$icons: (
	sprite: (width: 225px, height: 350px, padding: 5, pngPath: '../img/sprite.png', svgPath: '../img/sprite.svg'),

	matot: (width: 100px, height: 100px, backgroundX: 0px, backgroundY: 0px, bgRelativeX: 0%, bgRelativeY: 0%),
	mezgorod: (width: 215px, height: 110px, backgroundX: 0px, backgroundY: -110px, bgRelativeX: 0%, bgRelativeY: 47.82608695652174%),
	pereezdi: (width: 215px, height: 110px, backgroundX: 0px, backgroundY: -230px, bgRelativeX: 0%, bgRelativeY: 100%),
);