@media (max-width: 767px) {
	.upline {
		margin-top: 50px;
	}
}

@media (min-width: 768px) {
	.nav-wrap {
		position: relative;
		padding: 10px 0;
	}
	.header-nav {
		position: absolute;
		right: 0;
		top: 50%;
		margin-top: -0.625rem;
	}
}