.header-logo {
	margin: 10px 0;
}
.svg-logo {
	font-size: 13px;
}
.logo-desc {
	position: absolute;
	top: 0;
	left: 90px;
}
.logo-desc__text {
	color: #d2d2d2;
	margin-bottom: 0.2rem;
	white-space: nowrap;
	font-style: normal;
	font-weight: 300;
	font-size: 0.9rem;
}