.header__container {
	position: relative;
}

.slider-main__text {
	color: $title-color;
	font-size: 48px;
	font-weight: 600;
	text-transform: uppercase;
	z-index: 1;
	top: 20%;
	left: 7%;
	border: 5px solid #fff;
	padding: 10px 20px;
}
.slider-main .slick-active .slider-main__hero {
	display: block;
}