.slider-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.slider-bg__item {
	position: relative;
}
.slider-bg__item::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .85);
}
.slider-bg__img {
	width: 100%;
}

.slider-main {
	position: relative;
	max-width: 1170px;
	margin: auto;
}
.slider-main__img {
	width: 100%;
}
.slider-main__text {
	position: absolute;
}
.slider-main .slick-dots li button {
	width: 30px;
	height: 10px;
}
.slider-main .slick-dots {
	bottom: 5%;
	padding-left: 2%;
	text-align: left;
}

@media (max-width: 543px) {
	.slick-prev,
	.slick-next {
		width: 20px;
		height: 20px;
	}
	.slick-prev::before,
	.slick-next::before {
		width: 20px;
	}
	.slick-prev::after,
	.slick-next::after {
		height: 20px;
	}
	.slider-main .slick-dots li button {
		width: 20px;
		height: 6px;
	}
}

@media (max-width: 1260px) {
	.slider-main .slick-prev {
		left: 1.5rem;
	}
	.slider-main .slick-next {
		right: 1.5rem;
	}
}
@media (max-width: 1440px) {
	.slider-bg__img {
		width: 135%;
		margin-left: -17.5%;
	}
}