section h4 {
	margin-top: 1rem;
}
.home section h2 {
	text-align: center;
}

.block {
	position: relative;
	padding: 0 20px 30px;
	border-bottom: 1px solid $main-color;
	margin-bottom: 30px;
	background: $main-bg;
}
.block-t {
	margin-top: 30px;
}

.uslugi__item {
	margin-bottom: 2rem;
}

.home__projects {
	padding-bottom: 4rem;
	background-color: $main-bg;
}


.list {
	list-style-type: none;
	padding: 0;
	margin: 2rem 0; 
}
.list__item {
	margin-bottom: 0.9375rem;
}
.list__title {
	display: inline;
	margin-left: 15px;
	font-size: 0.9375rem;
	font-style: italic;
}




@media (min-width: 768px) {
	.block {
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.block-t {
		display: table;
		border-collapse: separate;
		border-spacing: 30px 0;
		padding: 0;
		position: relative;
		margin-left: -15px;
		margin-right: -15px;
	}
	.block-t__wrap {
		display: table-row;
	}
	.block-t__content {
		display: table-cell;
		background: $main-bg;
		padding: 30px 20px 50px;
		border-bottom: 1px solid $main-color;
	}
	.block-t_w50 {
		width: 50%;
	}
}

@media (max-width: 767px) {
	.block-t__content {
		padding: 15px;
		border-bottom: 1px solid $main-color;
		margin-bottom: 30px;
		background: $main-bg;
	}
}
@media (min-width: 992px) {
	.block {
		margin: 30px 0;
	}
}
@media (max-width: 991px) {
	.block-t {
		border-spacing: 15px 0;
	}
}