extends html/layouts/_default

block page-vars
	-
		var page = {
			title: 'Contacts',
			keywords: 'Keywords of page Contacts',
			description: 'Description of page Contacts'
		};

block body
	include html/pages/_contacts