extends html/layouts/_default
		
block page-vars
	-
		var page = {
			title: 'Главная Страница | МБ Инжиниринг Групп',
			keywords: 'Ключевые слова для главной страницы',
			description: 'Описание главной страницы'
		};

block body
	include html/pages/_home