extends html/layouts/_default
		
block page-vars
	-
		var page = {
			title: 'Портфолио – Монтаж | МБ Инжиниринг Групп',
			keywords: 'Ключевые слова страницы портфолио монтажных работ',
			description: 'Описание страницы портфолио монтажных работ'
		};

block body
	include html/pages/_portfolio-montaz