extends html/layouts/_default
		
block page-vars
	-
		var page = {
			title: 'Портфолио | МБ Инжиниринг Групп',
			keywords: 'Ключевые слова страницы портфолио',
			description: 'Описание страницы портфолио'
		};

block body
	include html/pages/_portfolio