extends html/layouts/_default
		
block page-vars
	-
		var page = {
			title: 'Проектирование инженерных систем | МБ Инжиниринг Групп',
			keywords: 'Ключевые слова страницы проектирование инженерных систем',
			description: 'Описание страницы проектирование инженерных систем'
		};

block body
	include html/pages/_project-is