.breadcrumbs {
	margin-top: 2.5rem;
}
.breadcrumbs__list {
	display: inline-block;
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.breadcrumbs__item {
	display: inline;
	color: $text-color;
}
.breadcrumbs__item:last-child {
	color: $main-color;
}
.breadcrumbs__item::after {
	content: '›';
	display: inline;
	margin-left: 0.4rem;
	margin-right: 0.2rem;
}
.breadcrumbs__item:last-child::after {
	display: none;
}
.breadcrumbs__link {
	color: inherit;
}
