.home__title {
	margin-bottom: 2rem;
}
.welcome,
.shop {
	padding-top: 2rem;
	margin-bottom: 2rem;
}
.welcome__item,
.shop__item {
	font-style: italic;
	text-transform: uppercase;
}
.welcome__text,
.shop__text {
	line-height: 1;
	margin: 0;
	padding: 0;
}
.shop__link-wrap {
	margin-bottom: 1rem;
}
.shop__link {
	display: inline-block;
	padding: 0 15px;
	border-radius: 10px;
	background-color: #fff;
	transition: all 1s;
}
.shop__link:hover {
	box-shadow: 1px 1px 30px #fff;
}

.slider-work {
	margin-bottom: 4rem;
}

.slider-work__img {
	width: 100%;
	padding: 15px;
}

.slider-work .slick-dots {
	text-align: center;	
}
.slider-work .slick-dots li {
	padding: 2px;
}


.home__why {
	position: relative;
	padding-bottom: 150px;
}
.why__item {
	margin-bottom: 2rem;
}
.why__text {
	font-size: 0.9375rem;
}
.building {
	position: absolute;
	bottom: 0;
	opacity: 0.2;
}
.building__img {
	width: 100%;
	vertical-align: bottom;
}