.works-sep__item {
	position: relative;

	&::before {
		content: '';
		display: block;
		position: absolute;
		top: -1px;
		left: 0;
		bottom: -1px;
		right: 0;
		background-color: rgba(0,0,0,0.5);
		transition: 0.3s;
	}
}
.works-sep__item:hover::before {
	background-color: rgba(0,0,0,0.7);
}
.works-sep__content {
	position: absolute;
	top: 15%;
}
.works-sep__title {
	font-style: italic;
	color: $title-color;
	text-shadow: 0 1px 0 #000;
}
.works-sep__link {
	opacity: 0;
	transition: 0.3s;
}
.works-sep__item:hover .works-sep__link {
	opacity: 1;
}

.works .work-desc {
	margin: 0;
}