main.contacts
	.container
		.row
			
			.block-t
				.block-t__wrap
					.block-t__content.block-t_w33
						h2.h1.page__title Контакты
						h5.contacts__title
							|Всегда рады Вас видеть у нас в гостях!
						p
							|Мы работаем: пн-пт с 9 до 20
					.block-t__img.block-t_w66
						.contacts__img-wrap
							img(src="img/contacts.jpg", alt="").contacts__img

			.block-t
				.block-t__wrap
					.block-t__img.block-t_w66
						.contacts__map
							iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1998.3446016505745!2d30.432206251564892!3d59.94301688178884!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469631f855b811b5%3A0xbe2730b98941f0ee!2z0K_QutC-0YDQvdCw0Y8g0YPQuy4sIDEzLCDQodCw0L3QutGCLdCf0LXRgtC10YDQsdGD0YDQsywgMTk1MjQ4!5e0!3m2!1sru!2sru!4v1492974964892" width="600" height="450" frameborder="0" style="border:0" allowfullscreen)
					.block-t__content.block-t_w33
						.contacts-address
							h1.h3.contacts-address__main-title.cl_main Наш адрес
							h5.contacts-address__title Главный офис:
							p.contacts-address__text
								|г.Санкт-Петербург, ул.Якорная, д.13, литер А, офис 311. 
							h5.contacts-address__title Телефон: 
							p.contacts-address__text
								|+7 (812) 937 59 77
							h5.contacts-address__title E-mail:
							p.contacts-address__text
								|info@mbeg.ru

						a(href="#").contacts-address__btn.btn Отправить сообщение