main.home
	section.home__greet.container
		.row
			.block-t
				.block-t__wrap
					.block-t__content.block-t_w50
						h1.home__title
							|Добро пожаловать в 
							span mbe
							|ngineering group
						p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Семантика, заманивший на берегу назад языкового маленькая ему вопроса силуэт подпоясал семь это встретил до возвращайся безорфографичный образ, своего предупреждал знаках.
						p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Семантика, заманивший на берегу назад языкового маленькая ему вопроса силуэт подпоясал семь это встретил до возвращайся безорфографичный образ, своего предупреждал знаках.
					.block-t__content.block-t_w50
						h2.home__title
							|Наш интернет-магазин 
							span техносбыт 24
						p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Единственное взгляд прямо меня над залетают сих, не коварных инициал маленький по всей, вопроса, имеет бросил одна знаках правилами. Большого, эта.

	section.home__uslugi.container
		.block.row
			h2 К вашим услугам
			.row
				.col-md-6.col-lg-3.text-xs-center
					+svg-icon('upline__phone')
					h4 Проектировщики
					a(href="#") Подробнее
				.col-md-6.col-lg-3.text-xs-center
					+svg-icon('upline__phone')
					h4 Проектировщики
					a(href="#") Подробнее
				.col-md-6.col-lg-3.text-xs-center
					+svg-icon('upline__phone')
					h4 Проектировщики
					a(href="#") Подробнее
				.col-md-6.col-lg-3.text-xs-center
					+svg-icon('upline__phone')
					h4 Проектировщики
					a(href="#") Подробнее

	section.home__projects
		.container
			.row
				h2 Основные проекты

			.row
				.offset-xs-1.col-xs-10
					.row
						.slider-work
							.slider-work__item
								img(src="img/1.jpg" alt="").slider-work__img
								.slider-desc
									h6.slider-desc__title Test 1
							.slider-work__item
								img(src="img/2.jpg" alt="").slider-work__img
								.slider-desc
									h6.slider-desc__title Test 1
							.slider-work__item
								img(src="img/3.jpg" alt="").slider-work__img
								.slider-desc
									h6.slider-desc__title Test 1
							.slider-work__item
								img(src="img/3.jpg" alt="").slider-work__img
								.slider-desc
									h6.slider-desc__title Test 1
							.slider-work__item
								img(src="img/2.jpg" alt="").slider-work__img
								.slider-desc
									h6.slider-desc__title Test 1
							.slider-work__item
								img(src="img/1.jpg" alt="").slider-work__img
								.slider-desc
									h6.slider-desc__title Test 1

						a(href="#") Показать все

	section.home__why
		.container
			.row
				.col-md-12
					.row
						h2 Почему мы?
						.col-md-6.col-lg-3.text-xs-center
							+svg-icon('upline__phone')
							h4 Проектировщики
							p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Своего предложения рыбными бросил большого, коварный свой даже там первую, ты собрал города, это несколько маленький деревни точках текст даль!
						.col-md-6.col-lg-3.text-xs-center
							+svg-icon('upline__phone')
							h4 Проектировщики
							p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Своего предложения рыбными бросил большого, коварный свой даже там первую, ты собрал города, это несколько маленький деревни точках текст даль!
						.col-md-6.col-lg-3.text-xs-center
							+svg-icon('upline__phone')
							h4 Проектировщики
							p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Своего предложения рыбными бросил большого, коварный свой даже там первую, ты собрал города, это несколько маленький деревни точках текст даль!
						.col-md-6.col-lg-3.text-xs-center
							+svg-icon('upline__phone')
							h4 Проектировщики
							p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Своего предложения рыбными бросил большого, коварный свой даже там первую, ты собрал города, это несколько маленький деревни точках текст даль!