main.home
	section.home__greet.container
		.row
			.block-t
				.block-t__wrap
					.block-t__content.block-t_w50
						h1.home__title
							|Добро пожаловать в 
							span mbe
							|ngineering group
						p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Семантика, заманивший на берегу назад языкового маленькая ему вопроса силуэт подпоясал семь это встретил до возвращайся безорфографичный образ, своего предупреждал знаках.
						p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Семантика, заманивший на берегу назад языкового маленькая ему вопроса силуэт подпоясал семь это встретил до возвращайся безорфографичный образ, своего предупреждал знаках.
					.block-t__content.block-t_w50
						h2.home__title
							|Наш интернет-магазин 
							span техносбыт 24
						p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Единственное взгляд прямо меня над залетают сих, не коварных инициал маленький по всей, вопроса, имеет бросил одна знаках правилами. Большого, эта.

	section.home__uslugi
		.container
			.row
				.col-md-12
					.block.col-md-12
						h2 К вашим услугам
						.row
							.col-md-6.col-lg-3.text-xs-center
								+svg-icon('logo')
								h4 Проектировщики
								a(href="#") Подробнее
							.col-md-6.col-lg-3.text-xs-center
								+svg-icon('logo')
								h4 Проектировщики
								a(href="#") Подробнее
							.col-md-6.col-lg-3.text-xs-center
								+svg-icon('logo')
								h4 Проектировщики
								a(href="#") Подробнее
							.col-md-6.col-lg-3.text-xs-center
								+svg-icon('logo')
								h4 Проектировщики
								a(href="#") Подробнее

	section.home__projects
		.container
			.row
				.col-md-12
					.row
						h2 Основные проекты

						.col-md-4
							+svg-icon('logo')
						.col-md-4
							+svg-icon('logo')
						.col-md-4
							+svg-icon('logo')

						a(href="#") Показать все

		section.home__projects
		.container
			.row
				.col-md-12
					.row
						h2 Почему мы?

						.col-md-6.col-lg-3.text-xs-center
							+svg-icon('logo')
							h4 Проектировщики
							p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Своего предложения рыбными бросил большого, коварный свой даже там первую, ты собрал города, это несколько маленький деревни точках текст даль!
						.col-md-6.col-lg-3.text-xs-center
							+svg-icon('logo')
							h4 Проектировщики
							p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Снова пустился запятой реторический, свой силуэт маленькая, путь гор путь ему текстов букв пор курсивных одна продолжил журчит взобравшись даже.
						.col-md-6.col-lg-3.text-xs-center
							+svg-icon('logo')
							h4 Проектировщики
							p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Они подпоясал щеке семь, возвращайся курсивных образ домах необходимыми путь грамматики всеми снова составитель заглавных большого рукопись подзаголовок. Но, коварных.
						.col-md-6.col-lg-3.text-xs-center
							+svg-icon('logo')
							h4 Проектировщики
							p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Сих, всеми живет! Послушавшись за подзаголовок, родного пустился о вопроса не маленькая буквоград сих лучше проектах выйти диких злых коварных?