main.home
	section.home__greet.container
		.row
			.block-t
				.block-t__wrap
					.block-t__content.block-t_w50
						.welcome.text-xs-center
							.welcome__item
								.welcome__text.h4.cl_title Добро пожаловать в 
							.welcome__item
								h1.h2.welcome__text.cl_title
									span.cl_main mbe
									|ngineering group
						p
							|ООО «МБИ» – это команда профессионалов, обеспечивающих время, бюджет и внимание к деталям, что дает вам высочайшее качество выполненных работ.
						p
							|Компания, предлагающая четкие коммуникационные линии, ориентированные на предоставление персональных услуг.
						p
							|Компания, которая ставит ваши потребности и требования во-первых, и все это MBEngineering Group.
					.block-t__content.block-t_w50
						.shop.text-xs-center
							.shop__item
								.shop__text.h4.cl_title Наш интернет-магазин
							.shop__item
								.shop__text.h2.cl_main техносбыт 24
						p
							|Наш интернет-магазин занимается продажей светодиодного оборудования для физических и юридических лиц.
						p
							|В нашем интернет-магазине Вы найдете:
						ul.list
							li.list__item
								span.list__icon
									+svg-icon('checkbox')
								p.list__title
									|Энергосберегающие светодиодные лампы высокой яркости
							li.list__item
								span.list__icon
									+svg-icon('checkbox')
								p.list__title
									|Светодиодные ленты различной расцветки
							li.list__item
								span.list__icon
									+svg-icon('checkbox')
								p.list__title
									|Трансформаторы и стабилизаторы напряжения
						
						.shop__link-wrap.row.text-xs-center
							a(href="#").shop__link.text-xs-center
								img(src="img/shop.png").shop__img

	section.home__uslugi.container
		.row.block
			.col-xs-12
				h2.home__title К вашим услугам
			.col-xs-12
				.uslugi
					.uslugi__item.col-md-6.col-lg-3.text-xs-center
						.uslugi__icon
							+svg-icon('logo')
						h4.uslugi__title Проектировщики
						a(href="#").uslugi__link.btn Подробнее
					.uslugi__item.col-md-6.col-lg-3.text-xs-center
						.uslugi__icon
							+svg-icon('logo')
						h4.uslugi__title Монтажники
						a(href="#").uslugi__link.btn Подробнее
					.uslugi__item.col-md-6.col-lg-3.text-xs-center
						.uslugi__icon
							+svg-icon('logo')
						h4.uslugi__title Менеджеры
						a(href="#").uslugi__link.btn Подробнее
					.uslugi__item.col-md-6.col-lg-3.text-xs-center
						.uslugi__icon
							+svg-icon('logo')
						h4.uslugi__title Калькулятор
						a(href="#").uslugi__link.btn Рассчитать

	section.home__projects
		.container
			.row
				.col-xs-12
					h2.home__title Основные проекты
			.row
				.offset-xs-1.col-xs-10
					.slider-work
						.slider-work__item
							img(src="img/work-1.jpg" alt="").slider-work__img
							.work-desc
								h5.work-desc__title Административное здание г.Санкт-Петербург
								.work-desc__text Проектирование
						.slider-work__item
							img(src="img/work-2.jpg" alt="").slider-work__img
							.work-desc
								h5.work-desc__title Коттеджный поселок «Суходольское» п.Громово
								.work-desc__text Проектирование
						.slider-work__item
							img(src="img/work-3.jpg" alt="").slider-work__img
							.work-desc
								h5.work-desc__title 12-ти секционный жилой дом г.Домодедово
								.work-desc__text Проектирование
						.slider-work__item
							img(data-lazy="img/work-4.jpg" alt="").slider-work__img
							.work-desc
								h5.work-desc__title Здание общеобразовательной школы г.Санкт-Петербург, ул.Садовая
								.work-desc__text Проектирование
						.slider-work__item
							img(data-lazy="img/work-5.jpg" alt="").slider-work__img
							.work-desc
								h5.work-desc__title ТК с административно-складскими зданиями г.Дзержинск
								.work-desc__text Проектирование
						.slider-work__item
							img(data-lazy="img/work-6.jpg" alt="").slider-work__img
							.work-desc
								h5.work-desc__title Здания автотранспортного предприятия п.Федоровское
								.work-desc__text Проектирование
						.slider-work__item
							img(data-lazy="img/work-7.jpg" alt="").slider-work__img
							.work-desc
								h5.work-desc__title ТК с административно-складскими зданиями г.Дзержинск
								.work-desc__text Проектирование
						.slider-work__item
							img(data-lazy="img/work-7.jpg" alt="").slider-work__img
							.work-desc
								h5.work-desc__title ТК с административно-складскими зданиями г.Дзержинск
								.work-desc__text Проектирование
						.slider-work__item
							img(data-lazy="img/work-7.jpg" alt="").slider-work__img
							.work-desc
								h5.work-desc__title ТК с административно-складскими зданиями г.Дзержинск
								.work-desc__text Проектирование
			.row
				.slider-work__btn-wrap.col-xs-12.text-xs-center
					a(href="#").slider-work__btn.btn Показать все

	section.home__why
		.container
			.row
				.col-xs-12
					h2.home__title Почему мы?
			.row.why
				.why__item.col-md-6.col-lg-3.push-lg-3.text-xs-center
					.why__icon
						+svg-icon('logo')
					h4.why__title Команда
					p.why__text.text-xs-left.text-lg-center Архитекторы. Строители. Менеджеры проекта. Каждый успешный проект начинается с успешной команды.
				.why__item.col-md-6.col-lg-3.pull-lg-3.text-xs-center
					.why__icon
						+svg-icon('logo')
					h4.why__title Опыт
					p.why__text.text-xs-left.text-lg-center Высокий уровень квалификации и профессионализм сотрудников нашей компании позволяют создавать и реализовывать проекты любой сложности, соответствующие самым строгим требованиям наших заказчиков.
				.why__item.col-md-6.col-lg-3.text-xs-center
					.why__icon
						+svg-icon('logo')
					h4.why__title Оптимизация
					p.why__text.text-xs-left.text-lg-center Мы работаем в рамках вашего графика и бюджета. Умело применяем здравый смысл и инновационный подход для экономии ваших времени и денег от начала строительства до его завершения.
				.why__item.col-md-6.col-lg-3.text-xs-center
					.why__icon
						+svg-icon('logo')
					h4.why__title Технологии
					p.why__text.text-xs-left.text-lg-center Все работы выполняются в соответствии с требованиями нормативной документации, с применением современных материалов и оборудования.
			.building
				img(src="img/building.png").building__img