main.home
	section.home__greet.container
		.row
			.block
				.block__wrap
					.block__content
						h1.home__title
							|Добро пожаловать в 
							span mbe
							|ngineering group
						p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Семантика, заманивший на берегу назад языкового маленькая ему вопроса силуэт подпоясал семь это встретил до возвращайся безорфографичный образ, своего предупреждал знаках.
						p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Семантика, заманивший на берегу назад языкового маленькая ему вопроса силуэт подпоясал семь это встретил до возвращайся безорфографичный образ, своего предупреждал знаках.
					.block__content
						h2.home__title
							|Наш интернет-магазин 
							span техносбыт 24
						p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Единственное взгляд прямо меня над залетают сих, не коварных инициал маленький по всей, вопроса, имеет бросил одна знаках правилами. Большого, эта.

	section.home__uslugi
		.container
			.row
				.col-md-12
					h2 К вашим услугам