main.home
	section.home__greet.container
		.row
			.block-t
				.block-t__wrap
					.block-t__content.block-t_w50
						.welcome.text-xs-center Добро пожаловать в 
						h1.home__title.text-xs-center
							span.text_main-color mbe
							|ngineering group
						p ООО «МБИ» – это команда профессионалов, обеспечивающих время, бюджет и внимание к деталям, что дает вам высочайшее качество выполненных работ.
						p Компания, предлагающая четкие коммуникационные линии, ориентированные на предоставление персональных услуг.
						p Компания, которая ставит ваши потребности и требования во-первых, и все это MBEngineering Group.
					.block-t__content.block-t_w50
						.shop.text-xs-center Наш интернет-магазин 
						h2.h1.home__title.text-xs-center
							span.text_main-color техносбыт 24
						p Наш интернет-магазин занимается продажей светодиодного оборудования для физических и юридических лиц.
						p В нашем интернет-магазине Вы найдете:
						ul.list
							li.list__item
								span.list__icon
									+svg-icon('upline__e-mail')
								p.list__title
									|Энергосберегающие светодиодные лампы высокой яркости
							li.list__item
								span.list__icon
									+svg-icon('upline__e-mail')
								p.list__title
									|Светодиодные ленты различной расцветки
							li.list__item
								span.list__icon
									+svg-icon('upline__e-mail')
								p.list__title
									|Трансформаторы и стабилизаторы напряжения
						
						.shop__btn-wrap.row.text-xs-center
							a(href="#").btn.btn-invert.text-xs-center Перейти

	section.home__uslugi.container
		.block.row
			h2 К вашим услугам
			.uslugi.row
				.uslugi__item.col-md-6.col-lg-3.text-xs-center
					.uslugi__icon
						+svg-icon('logo')
					h4.uslugi__title Проектировщики
					a(href="#").uslugi__link.btn Подробнее
				.uslugi__item.col-md-6.col-lg-3.text-xs-center
					.uslugi__icon
						+svg-icon('logo')
					h4.uslugi__title Монтажники
					a(href="#").uslugi__link.btn Подробнее
				.uslugi__item.col-md-6.col-lg-3.text-xs-center
					.uslugi__icon
						+svg-icon('logo')
					h4.uslugi__title Менеджеры
					a(href="#").uslugi__link.btn Подробнее
				.uslugi__item.col-md-6.col-lg-3.text-xs-center
					.uslugi__icon
						+svg-icon('logo')
					h4.uslugi__title Калькулятор
					a(href="#").uslugi__link.btn Рассчитать

	section.home__projects
		.container
			.row
				h2 Основные проекты
			.row
				.offset-xs-1.col-xs-10
					.row
						.slider-work
							.slider-work__item
								img(src="img/work-1.jpg" alt="").slider-work__img
								.slider-desc
									h6.slider-desc__title Административное здание г.Санкт-Петербург
									.slider-desc__text Проектирование и дизайн
							.slider-work__item
								img(src="img/work-2.jpg" alt="").slider-work__img
								.slider-desc
									h6.slider-desc__title Коттеджный поселок «Суходольское» п.Громово
									.slider-desc__text Проектирование и дизайн
							.slider-work__item
								img(src="img/work-3.jpg" alt="").slider-work__img
								.slider-desc
									h6.slider-desc__title 12-ти секционный жилой дом г.Домодедово
									.slider-desc__text Проектирование и дизайн
							.slider-work__item
								img(src="img/work-4.jpg" alt="").slider-work__img
								.slider-desc
									h6.slider-desc__title Здание общеобразовательной школы г.Санкт-Петербург, ул.Садовая
									.slider-desc__text Проектирование и дизайн
							.slider-work__item
								img(src="img/work-5.jpg" alt="").slider-work__img
								.slider-desc
									h6.slider-desc__title ТК с административно-складскими зданиями г.Дзержинск
									.slider-desc__text Проектирование и дизайн
							.slider-work__item
								img(src="img/work-6.jpg" alt="").slider-work__img
								.slider-desc
									h6.slider-desc__title Здания автотранспортного предприятия п.Федоровское
									.slider-desc__text Проектирование и дизайн
							.slider-work__item
								img(src="img/work-7.jpg" alt="").slider-work__img
								.slider-desc
									h6.slider-desc__title ТК с административно-складскими зданиями г.Дзержинск
									.slider-desc__text Проектирование и дизайн
							.slider-work__item
								img(src="img/work-7.jpg" alt="").slider-work__img
								.slider-desc
									h6.slider-desc__title ТК с административно-складскими зданиями г.Дзержинск
									.slider-desc__text Проектирование и дизайн
							.slider-work__item
								img(src="img/work-7.jpg" alt="").slider-work__img
								.slider-desc
									h6.slider-desc__title ТК с административно-складскими зданиями г.Дзержинск
									.slider-desc__text Проектирование и дизайн
			.row
				.slider-work__btn-wrap.col-xs-12.text-xs-center
					a(href="#").slider-work__btn.btn Показать все

	section.home__why.container
		h2 Почему мы?
		.why.row
			.why__item.col-md-6.col-lg-3.push-lg-3.text-xs-center
				.why__icon
					+svg-icon('logo')
				h4.why__title Команда
				p.why__text Архитекторы. Строители. Менеджеры проекта. Каждый успешный проект начинается с успешной команды.
			.why__item.col-md-6.col-lg-3.pull-lg-3.text-xs-center
				.why__icon
					+svg-icon('logo')
				h4.why__title Опыт
				p.why__text Высокий уровень квалификации и профессионализм сотрудников нашей компании позволяют создавать и реализовывать проекты любой сложности, соответствующие самым строгим требованиям наших заказчиков.
			.why__item.col-md-6.col-lg-3.text-xs-center
				.why__icon
					+svg-icon('logo')
				h4.why__title Оптимизация
				p.why__text Мы работаем в рамках вашего графика и бюджета. Умело применяем здравый смысл и инновационный подход для экономии ваших времени и денег от начала строительства до его завершения.
			.why__item.col-md-6.col-lg-3.text-xs-center
				.why__icon
					+svg-icon('logo')
				h4.why__title Технологии
				p.why__text Все работы выполняются в соответствии с требованиями нормативной документации, с применением современных материалов и оборудования.