main.portfolio
	section.portfolio__main.container
		.works-sep.row
			.block-t
				.block-t__wrap
					.block-t__img.block-t_w50
						.container
							.row.works-sep__item
								img(src="img/work-project.jpg").works-sep__img
								.works-sep__container.text-xs-center
									h2.works-sep__title
										|Основные выполненные 
										span проектные 
										|работы
									a(href="portfolio-montaz.html").works-sep__btn.btn.btn_active
										|Перейти

					.block-t__img.block-t_w50
						.container
							.row.works-sep__item
								img(src="img/work-montaz.jpg").works-sep__img
								.works-sep__container.text-xs-center
									h2.works-sep__title
										|Основные выполненные 
										span монтажные 
										|работы
									a(href="portfolio-montaz.html").works-sep__btn.btn.btn_active
										|Перейти

		.block.row
			h1.h3.h1 Портфолио строительной компании
			p Компания ООО «МБ Инжиниринг Групп» работает на строительном рынке России более 20 лет, с 1992 года. Основное направление деятельности – проектирование и строительство «под ключ» индивидуальных жилых домов, коттеджных поселков, многоквартирных домов малой и средней этажности, административных и общественных зданий.

			p Наличие солидной производственной базы, транспорта, механизмов, системы складов позволяет успешно конкурировать с подобными строительными организациями по ЦЕНЕ, СРОКАМ и КАЧЕСТВУ выполняемых ремонтно-строительных работ.

			p За время существования компании реализовано более трехсот проектов в Москве, Подмосковье, городах России и ближнего зарубежья.

			p Наша компания выполняет весь комплекс ремонтно-строительных работ без исключения. Все работы ведутся настолько быстро, насколько это позволяет технологический процесс. Работы выполняют высококвалифицированные специалисты.