main.portfolio
	section.portfolio__main.container
		.block.row
			.col-md-6
				h2.h1 Портфолио
			.col-md-6.text-md-right
				.breadcrumbs
					ul.breadcrumbs__list
						li.breadcrumbs__item
							a(href="#").breadcrumbs__link Портфолио
						li.breadcrumbs__item
							a(href="#").breadcrumbs__link Портфолио – монтаж
			.col-md-12
				h1.h3 Портфолио строительной компании

				p Компания ООО «МБ Инжиниринг Групп» работает на строительном рынке России более 20 лет, с 1992 года. Основное направление деятельности – проектирование и строительство «под ключ» индивидуальных жилых домов, коттеджных поселков, многоквартирных домов малой и средней этажности, административных и общественных зданий.
				
				p Наличие солидной производственной базы, транспорта, механизмов, системы складов позволяет успешно конкурировать с подобными строительными организациями по ЦЕНЕ, СРОКАМ и КАЧЕСТВУ выполняемых ремонтно-строительных работ.
				
				p За время существования компании реализовано более трехсот проектов в Москве, Подмосковье, городах России и ближнего зарубежья.

				p Наша компания выполняет весь комплекс ремонтно-строительных работ без исключения. Все работы ведутся настолько быстро, насколько это позволяет технологический процесс. Работы выполняют высококвалифицированные специалисты.

		.row
			.block-t
				.block-t__wrap
					.block-t__content.block-t_w50
						h2.home__title.text-xs-center
							|Основные выполненные проектные работы
						.svg-wrap.text-xs-center
							+svg-icon('logo')
					.block-t__content.block-t_w50
						h2.home__title.text-xs-center
							|Основные выполненные монтажные работы
						.svg-wrap.text-xs-center
							+svg-icon('logo')
						
		.block.row
			h3 Основные выполненные работы
			p  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Большого приставка речью инициал ты осталось, назад лучше грамматики коварных, обеспечивает несколько взгляд рукопись сих семантика реторический безопасную его. Безорфографичный.