main.portfolio-montaz
	section.portfolio-montaz__main.container
		.block.row
			.row
				.col-md-6
					h2.h1 Портфолио монтаж
				.col-md-6.text-md-right
					.breadcrumbs
						ul.breadcrumbs__list
							li.breadcrumbs__item
								a(href="#").breadcrumbs__link Портфолио
							li.breadcrumbs__item
								a(href="#").breadcrumbs__link Монтаж

			h1.h3 Основные выполненные монтажные работы
			p
				|Компания ООО «МБ Инжиниринг Групп» работает на строительном рынке России более 20 лет, с 1992 года. Основное направление деятельности – проектирование и строительство «под ключ» индивидуальных жилых домов, коттеджных поселков, многоквартирных домов малой и средней этажности, административных и общественных зданий.

		.works.row
			.block-t
				.block-t__wrap
					.block-t__img.block-t_w33
						.container
							.row.works__item
								img(src="img/work-1.jpg").works__img
								.work-desc.bg_second-color
									h6.work-desc__title Административное здание г.Санкт-Петербург
									.work-desc__text Проектирование
					.block-t__img.block-t_w33
						.container
							.row.works__item
								img(src="img/work-2.jpg").works__img
								.work-desc.bg_second-color
									h6.work-desc__title Коттеджный поселок «Суходольское» п.Громово
									.work-desc__text Проектирование
					.block-t__img.block-t_w33
						.container
							.row.works__item
								img(src="img/work-3.jpg").works__img
								.work-desc.bg_second-color
									h6.work-desc__title 12-ти секционный жилой дом г.Домодедово
									.work-desc__text Проектирование
			.block-t
				.block-t__wrap
					.block-t__img.block-t_w33
						.container
							.row.works__item
								img(src="img/work-4.jpg").works__img
								.work-desc.bg_second-color
									h6.work-desc__title Здание общеобразовательной школы г.Санкт-Петербург, ул.Садовая
									.work-desc__text Проектирование
					.block-t__img.block-t_w33
						.container
							.row.works__item
								img(src="img/work-5.jpg").works__img
								.work-desc.bg_second-color
									h6.work-desc__title ТК с административно-складскими зданиями г.Дзержинск
									.work-desc__text Проектирование
					.block-t__img.block-t_w33
						.container
							.row.works__item
								img(src="img/work-6.jpg").works__img
								.work-desc.bg_second-color
									h6.work-desc__title Здания автотранспортного предприятия п.Федоровское
									.work-desc__text Проектирование
			.block-t
				.block-t__wrap
					.block-t__img.block-t_w33
						.container
							.row.works__item
								img(src="img/work-7.jpg").works__img
								.work-desc.bg_second-color
									h6.work-desc__title ТК с административно-складскими зданиями г.Дзержинск
									.work-desc__text Проектирование
					.block-t__img.block-t_w33
						.container
							.row.works__item
								img(src="img/work-7.jpg").works__img
								.work-desc.bg_second-color
									h6.work-desc__title ТК с административно-складскими зданиями г.Дзержинск
									.work-desc__text Проектирование
					.block-t__img.block-t_w33
						.container
							.row.works__item
								img(src="img/work-7.jpg").works__img
								.work-desc.bg_second-color
									h6.work-desc__title ТК с административно-складскими зданиями г.Дзержинск
									.work-desc__text Проектирование