main.project-is
	.container
		.row.block
			.col-xs-12
				.row
					.col-md-8
						h2.h1.page__title Инженерные системы
					.col-md-4.text-md-right
						.breadcrumbs
							ul.breadcrumbs__list
								li.breadcrumbs__item
									a(href="#").breadcrumbs__link Проектирование
								li.breadcrumbs__item
									a(href="#").breadcrumbs__link Инженерные системы
				.row
					.col-xs-12
						h1.h3 Проектирование инженерных систем
				.row
					.col-md-1
						.uslugi__icon
							+svg-icon('logo')
					.col-md-11
						p Компания ООО «МБ Инжиниринг Групп» работает на строительном рынке России более 20 лет, с 1992 года. Основное направление деятельности – проектирование и строительство «под ключ» индивидуальных жилых домов, коттеджных поселков, многоквартирных домов малой и средней этажности, административных и общественных зданий.

	.container
		.row
			.col-md-6
				.project__item
					.col-xs-12.block
						h3 Система электроснабжения
						img(src="img/project-oz-1.jpg", alt="")
						h4 Описание
						p
							|Процесс проектирования жилых и общественных зданий, благодаря техническому прогрессу, изменился...
						p.text-md-right
							|Читать далее
			.col-md-6
				.project__item
					.col-xs-12.block
						h3 Водоснабжение и канализация
						img(src="img/project-oz-1.jpg", alt="")
						h4 Описание
						p
							|Процесс проектирования жилых и общественных зданий, благодаря техническому прогрессу, изменился...
						p.text-md-right
							|Читать далее

	.container
		.row
			.col-md-6
				.project__item
					.col-xs-12.block
						h3 Система отопления и винтеляции
						img(src="img/project-oz-1.jpg", alt="")
						h4 Описание
						p
							|Процесс проектирования жилых и общественных зданий, благодаря техническому прогрессу, изменился...
						p.text-md-right
							|Читать далее
			.col-md-6
				.project__item
					.col-xs-12.block
						h3 Слаботочные системы
						img(src="img/project-oz-1.jpg", alt="")
						h4 Описание
						p
							|Процесс проектирования жилых и общественных зданий, благодаря техническому прогрессу, изменился...
						p.text-md-right
							|Читать далее
					
	.container
		.row.block
			.col-xs-12
				h3 Как мы это делаем
				p
					|Организация процесса проектирования жилых и общественных зданий и взаимоотношения архитектора и заказчика регламентируется государственными нормами и правилами. 
				p
					|Стадия «Эскизный проект»  разрабатывается на основании задания заказчика для принципиального определения требований к градостроительным, архитектурным, художественным, экологическим и функциональным решениям объекта, подтверждения возможности создания объекта непроизводственного назначения. Эскизный проект позволяет определиться с объемно-пространственными, архитектурно-планировочными решениями и технико-экономическими показателями. На его основании заказчик получает градостроительные условия и ограничения, а также технические условия на подключение к инженерным сетям города. 
				p
					|Стадия "Проект" - это утверждаемая стадия проектной документации, которая ''разрабатывается для определения градостроительных, архитектурных, художественных, экологических, инженерных решений объекта, сметной стоимости строительства.'' После утверждения и экспертизы стадии «Проект» получается разрешение на начало строительных работ. 
				p
					|На основе стадии "Проект" разрабатывается стадия "Рабочая документация", которая позволяет осуществлять строительство объекта архитектуры. 
				p
					|Стоимость проектных работ также определяется соответствующими государственными строительными нормами и зависит от категории сложности и класса ответственности объекта строительства.