main.project-oz
	.container
		.row.block
			.col-xs-12
				.row
					.col-md-8
						h2.h1.page__title Общественные здания
					.col-md-4.text-md-right
						.breadcrumbs
							ul.breadcrumbs__list
								li.breadcrumbs__item
									a(href="#").breadcrumbs__link Проектирование
								li.breadcrumbs__item
									a(href="#").breadcrumbs__link Общественные здания

				.row
					.col-xs-12
						h1.h3 Проектирование общественных зданий
				.row
					.col-md-1
						.uslugi__icon
							+svg-icon('logo')
					.col-md-11
						p Компания ООО «МБ Инжиниринг Групп» работает на строительном рынке России более 20 лет, с 1992 года. Основное направление деятельности – проектирование и строительство «под ключ» индивидуальных жилых домов, коттеджных поселков, многоквартирных домов малой и средней этажности, административных и общественных зданий.

		.row
			.block-t
				.block-t__wrap
					.block-t__content.block-t_w33
						.test-img-bg
						//- .container
						//- 	.row.project-oz__item
						//- 		h2.h1.project-oz__title Проектирование общественных зданий

						//- 		.uslugi__icon
						//- 			+svg-icon('logo')
					.block-t__content.block-t_w66
						.container
							.row.project-oz__item
								.row
									.col-md-6
										h1.h2.project-oz__title Проектирование общественных зданий
									.col-md-6.text-md-right
										.breadcrumbs
											ul.breadcrumbs__list
												li.breadcrumbs__item
													a(href="#").breadcrumbs__link Проектирование
												li.breadcrumbs__item
													a(href="#").breadcrumbs__link Общественных зданий
							.row
								p
									|Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Назад предупреждал переписывается не над пустился. Домах но решила запятой толку, свою! Составитель, они заголовок! Коварный города бросил живет, последний!