main.project
	section.home__uslugi.container
		.block.row
			.container
				.row
					h2.h1
						|Проектирование
				.row
					.col-md-6.col-lg-3.text-xs-center
						a(href="#").uslugi__link
							.uslugi__icon
								+svg-icon('logo')
							h4.uslugi__title
								|Общественных
								span.break-xs-up
									|зданий
					.col-md-6.col-lg-3.text-xs-center
						a(href="#").uslugi__link
							.uslugi__icon
								+svg-icon('logo')
							h4.uslugi__title
								|Жилых
								span.break-xs-up
									|зданий
					.col-md-6.col-lg-3.text-xs-center
						a(href="#").uslugi__link
							.uslugi__icon
								+svg-icon('logo')
							h4.uslugi__title
								|Производственных
								span.break-xs-up
									|зданий
					.col-md-6.col-lg-3.text-xs-center
						a(href="#").uslugi__link
							.uslugi__icon
								+svg-icon('logo')
							h4.uslugi__title
								|Инженерных
								span.break-xs-up
									|систем

		.row
			.block-t
				.block-t__wrap
					.block-t__content.block-t_w66
						.w
							.w__item
								h3
									|Процесс проектирования
								h4
									|Процессы и этапы проектирования
								p
									|Процесс проектирования жилых и общественных зданий, благодаря техническому прогрессу, изменился кардинальным образом. Современные технологии позволяют реализовывать архитектурные проекты высокого технического уровня с использованием последних достижений науки и техники. Образцами эффективного воплощения таких достижений стали выдающиеся объекты современной мировой архитектуры. Искусственный климат помещений, бесшумные лифты, эскалаторы, электронное программирование систем жизнеобеспечения, автоматические системы сигнализации и пожаротушения, стеклянные фасады, подземные многоуровневые паркинги - привычные элементы современных домов.
								p
									|Главной задачей нашей профессиональной деятельности в сфере проектирования жилых и общественных зданий остается создание гармоничной среды. Современные проектные системы, прогрессивные технические и технологические возможности строительства, разнообразие строительных унифицированных конструкций и материалов позволяют быстро возводить многоэтажные жилые дома, осваивать большие территории застройки. Такой подход позволяет улучшать городскую среду в плане психологического комфорта, тактичного отношения к природному окружению, разнообразия архитектурных приемов, их индивидуальной выразительности.
								p
									|Организация процесса проектирования жилых и общественных зданий и взаимоотношения архитектора и заказчика регламентируется государственными нормами и правилами. 
								p
									|Стадия «Эскизный проект»  разрабатывается на основании задания заказчика для принципиального определения требований к градостроительным, архитектурным, художественным, экологическим и функциональным решениям объекта, подтверждения возможности создания объекта непроизводственного назначения. Эскизный проект позволяет определиться с объемно-пространственными, архитектурно-планировочными решениями и технико-экономическими показателями. На его основании заказчик получает градостроительные условия и ограничения, а также технические условия на подключение к инженерным сетям города. 
								p
									|Стадия "Проект" - это утверждаемая стадия проектной документации, которая ''разрабатывается для определения градостроительных, архитектурных, художественных, экологических, инженерных решений объекта, сметной стоимости строительства.'' После утверждения и экспертизы стадии «Проект» получается разрешение на начало строительных работ. 
								p
									|На основе стадии "Проект" разрабатывается стадия "Рабочая документация", которая позволяет осуществлять строительство объекта архитектуры. 
								p
									|Стоимость проектных работ также определяется соответствующими государственными строительными нормами и зависит от категории сложности и класса ответственности объекта строительства.
					.block-t__content.block-t_w33
						.s__item
							h1.h3.s__title
								|Проектировщики
							h5
								|Наши проектировщики разработают для Вас следующую проектную документацию:
						ul.list
							li.list__item
								span.list__icon
									+svg-icon('checkbox')
								p.list__title
									|Архитектурные решения
							li.list__item
								span.list__icon
									+svg-icon('checkbox')
								p.list__title
									|Конструктивные решения
							li.list__item
								span.list__icon
									+svg-icon('checkbox')
								p.list__title
									|Технологические решения
							li.list__item
								span.list__icon
									+svg-icon('checkbox')
								p.list__title
									|Инженерные системы:

								ul.list
									li.list__item
										p.list__title
											|• водоснабжение и канализация
									li.list__item
										p.list__title
											|• отопление, вентиляция и кондиционирование воздуха
									li.list__item
										p.list__title
											|• электроснабжение
									li.list__item
										p.list__title
											|• слаботочные системы

							li.list__item
								span.list__icon
									+svg-icon('checkbox')
								p.list__title
									|Другие разделы проектной документации