$icons: (
	sprite: (width: 80px, height: 1516px, padding: 0, pngPath: '../img/sprite.png', svgPath: '../img/sprite.svg'),

	checkbox: (width: 80px, height: 80px, backgroundX: 0px, backgroundY: 0px, bgRelativeX: 0%, bgRelativeY: 0%),
	logo: (width: 76px, height: 76px, backgroundX: 0px, backgroundY: -80px, bgRelativeX: 0%, bgRelativeY: 5.555555555555555%),
	social__add: (width: 80px, height: 80px, backgroundX: 0px, backgroundY: -156px, bgRelativeX: 0%, bgRelativeY: 10.86350974930362%),
	social__facebook: (width: 80px, height: 80px, backgroundX: 0px, backgroundY: -236px, bgRelativeX: 0%, bgRelativeY: 16.434540389972145%),
	social__mail-ru: (width: 80px, height: 80px, backgroundX: 0px, backgroundY: -316px, bgRelativeX: 0%, bgRelativeY: 22.00557103064067%),
	social__ok: (width: 80px, height: 80px, backgroundX: 0px, backgroundY: -396px, bgRelativeX: 0%, bgRelativeY: 27.57660167130919%),
	social__print: (width: 80px, height: 80px, backgroundX: 0px, backgroundY: -476px, bgRelativeX: 0%, bgRelativeY: 33.147632311977716%),
	social__twitter: (width: 80px, height: 80px, backgroundX: 0px, backgroundY: -556px, bgRelativeX: 0%, bgRelativeY: 38.71866295264624%),
	social__vk: (width: 80px, height: 80px, backgroundX: 0px, backgroundY: -636px, bgRelativeX: 0%, bgRelativeY: 44.289693593314766%),
	upline__e-mail: (width: 80px, height: 80px, backgroundX: 0px, backgroundY: -716px, bgRelativeX: 0%, bgRelativeY: 49.860724233983284%),
	upline__phone: (width: 80px, height: 80px, backgroundX: 0px, backgroundY: -796px, bgRelativeX: 0%, bgRelativeY: 55.43175487465181%),
	uslugi__calculator: (width: 80px, height: 80px, backgroundX: 0px, backgroundY: -876px, bgRelativeX: 0%, bgRelativeY: 61.00278551532033%),
	uslugi__manager: (width: 80px, height: 80px, backgroundX: 0px, backgroundY: -956px, bgRelativeX: 0%, bgRelativeY: 66.57381615598885%),
	uslugi__montazman: (width: 80px, height: 80px, backgroundX: 0px, backgroundY: -1036px, bgRelativeX: 0%, bgRelativeY: 72.14484679665738%),
	uslugi__projectman: (width: 80px, height: 80px, backgroundX: 0px, backgroundY: -1116px, bgRelativeX: 0%, bgRelativeY: 77.7158774373259%),
	why__experience: (width: 80px, height: 80px, backgroundX: 0px, backgroundY: -1196px, bgRelativeX: 0%, bgRelativeY: 83.28690807799443%),
	why__optimization: (width: 80px, height: 80px, backgroundX: 0px, backgroundY: -1276px, bgRelativeX: 0%, bgRelativeY: 88.85793871866295%),
	why__team: (width: 80px, height: 80px, backgroundX: 0px, backgroundY: -1356px, bgRelativeX: 0%, bgRelativeY: 94.42896935933148%),
	why__technology: (width: 80px, height: 80px, backgroundX: 0px, backgroundY: -1436px, bgRelativeX: 0%, bgRelativeY: 100%),
);