$icons: (
	sprite: (width: 80px, height: 1322px, padding: 0, pngPath: '../img/sprite.png', svgPath: '../img/sprite.svg'),

	checkbox: (width: 25px, height: 21px, backgroundX: 0px, backgroundY: 0px, bgRelativeX: 0%, bgRelativeY: 0%),
	logo: (width: 64px, height: 64px, backgroundX: 0px, backgroundY: -21px, bgRelativeX: 0%, bgRelativeY: 1.669316375198728%),
	social__add: (width: 80px, height: 80px, backgroundX: 0px, backgroundY: -85px, bgRelativeX: 0%, bgRelativeY: 6.843800322061192%),
	social__facebook: (width: 80px, height: 80px, backgroundX: 0px, backgroundY: -165px, bgRelativeX: 0%, bgRelativeY: 13.285024154589372%),
	social__mail-ru: (width: 80px, height: 80px, backgroundX: 0px, backgroundY: -245px, bgRelativeX: 0%, bgRelativeY: 19.726247987117553%),
	social__ok: (width: 80px, height: 80px, backgroundX: 0px, backgroundY: -325px, bgRelativeX: 0%, bgRelativeY: 26.167471819645733%),
	social__print: (width: 80px, height: 80px, backgroundX: 0px, backgroundY: -405px, bgRelativeX: 0%, bgRelativeY: 32.608695652173914%),
	social__twitter: (width: 80px, height: 80px, backgroundX: 0px, backgroundY: -485px, bgRelativeX: 0%, bgRelativeY: 39.049919484702095%),
	social__vk: (width: 80px, height: 80px, backgroundX: 0px, backgroundY: -565px, bgRelativeX: 0%, bgRelativeY: 45.491143317230275%),
	upline__e-mail: (width: 25px, height: 16px, backgroundX: 0px, backgroundY: -645px, bgRelativeX: 0%, bgRelativeY: 49.38744257274119%),
	upline__phone: (width: 34px, height: 21px, backgroundX: 0px, backgroundY: -661px, bgRelativeX: 0%, bgRelativeY: 50.80707148347425%),
	uslugi__calculator: (width: 80px, height: 80px, backgroundX: 0px, backgroundY: -682px, bgRelativeX: 0%, bgRelativeY: 54.911433172302736%),
	uslugi__manager: (width: 80px, height: 80px, backgroundX: 0px, backgroundY: -762px, bgRelativeX: 0%, bgRelativeY: 61.35265700483092%),
	uslugi__montazman: (width: 80px, height: 80px, backgroundX: 0px, backgroundY: -842px, bgRelativeX: 0%, bgRelativeY: 67.7938808373591%),
	uslugi__projectman: (width: 80px, height: 80px, backgroundX: 0px, backgroundY: -922px, bgRelativeX: 0%, bgRelativeY: 74.23510466988728%),
	why__experience: (width: 80px, height: 80px, backgroundX: 0px, backgroundY: -1002px, bgRelativeX: 0%, bgRelativeY: 80.67632850241546%),
	why__optimization: (width: 80px, height: 80px, backgroundX: 0px, backgroundY: -1082px, bgRelativeX: 0%, bgRelativeY: 87.11755233494364%),
	why__team: (width: 80px, height: 80px, backgroundX: 0px, backgroundY: -1162px, bgRelativeX: 0%, bgRelativeY: 93.55877616747182%),
	why__technology: (width: 80px, height: 80px, backgroundX: 0px, backgroundY: -1242px, bgRelativeX: 0%, bgRelativeY: 100%),
);