$icons: (
	sprite: (width: 510px, height: 9690px, padding: 5, pngPath: '../img/sprite.png', svgPath: '../img/sprite.svg'),

	checkbox: (width: 500px, height: 500px, backgroundX: 0px, backgroundY: 0px, bgRelativeX: 0%, bgRelativeY: 0%),
	logo: (width: 500px, height: 500px, backgroundX: 0px, backgroundY: -510px, bgRelativeX: 0%, bgRelativeY: 5.555555555555555%),
	social__add: (width: 500px, height: 500px, backgroundX: 0px, backgroundY: -1020px, bgRelativeX: 0%, bgRelativeY: 11.11111111111111%),
	social__facebook: (width: 500px, height: 500px, backgroundX: 0px, backgroundY: -1530px, bgRelativeX: 0%, bgRelativeY: 16.666666666666668%),
	social__mail-ru: (width: 500px, height: 500px, backgroundX: 0px, backgroundY: -2040px, bgRelativeX: 0%, bgRelativeY: 22.22222222222222%),
	social__ok: (width: 500px, height: 500px, backgroundX: 0px, backgroundY: -2550px, bgRelativeX: 0%, bgRelativeY: 27.77777777777778%),
	social__print: (width: 500px, height: 500px, backgroundX: 0px, backgroundY: -3060px, bgRelativeX: 0%, bgRelativeY: 33.333333333333336%),
	social__twitter: (width: 500px, height: 500px, backgroundX: 0px, backgroundY: -3570px, bgRelativeX: 0%, bgRelativeY: 38.888888888888886%),
	social__vk: (width: 500px, height: 500px, backgroundX: 0px, backgroundY: -4080px, bgRelativeX: 0%, bgRelativeY: 44.44444444444444%),
	upline__e-mail: (width: 500px, height: 500px, backgroundX: 0px, backgroundY: -4590px, bgRelativeX: 0%, bgRelativeY: 50%),
	upline__phone: (width: 500px, height: 500px, backgroundX: 0px, backgroundY: -5100px, bgRelativeX: 0%, bgRelativeY: 55.55555555555556%),
	uslugi__calculator: (width: 500px, height: 500px, backgroundX: 0px, backgroundY: -5610px, bgRelativeX: 0%, bgRelativeY: 61.111111111111114%),
	uslugi__manager: (width: 500px, height: 500px, backgroundX: 0px, backgroundY: -6120px, bgRelativeX: 0%, bgRelativeY: 66.66666666666667%),
	uslugi__montazman: (width: 500px, height: 500px, backgroundX: 0px, backgroundY: -6630px, bgRelativeX: 0%, bgRelativeY: 72.22222222222223%),
	uslugi__projectman: (width: 500px, height: 500px, backgroundX: 0px, backgroundY: -7140px, bgRelativeX: 0%, bgRelativeY: 77.77777777777777%),
	why__experience: (width: 500px, height: 500px, backgroundX: 0px, backgroundY: -7650px, bgRelativeX: 0%, bgRelativeY: 83.33333333333333%),
	why__optimization: (width: 500px, height: 500px, backgroundX: 0px, backgroundY: -8160px, bgRelativeX: 0%, bgRelativeY: 88.88888888888889%),
	why__team: (width: 500px, height: 500px, backgroundX: 0px, backgroundY: -8670px, bgRelativeX: 0%, bgRelativeY: 94.44444444444444%),
	why__technology: (width: 500px, height: 500px, backgroundX: 0px, backgroundY: -9180px, bgRelativeX: 0%, bgRelativeY: 100%),
);