footer.footer
	.container
		.footer__row.row
			.col-xs-10.offset-xs-1
				h2.h2 Наши партнеры
				.row
					.slider-partner.text-xs-center
						.slider-partner__item
							a(href="#").slider-partner__link
								+svg-icon('logo')
						.slider-partner__item
							a(href="#").slider-partner__link
								+svg-icon('logo')
						.slider-partner__item
							a(href="#").slider-partner__link
								+svg-icon('logo')
						.slider-partner__item
							a(href="#").slider-partner__link
								+svg-icon('logo')
						.slider-partner__item
							a(href="#").slider-partner__link
								+svg-icon('logo')
						.slider-partner__item
							a(href="#").slider-partner__link
								+svg-icon('logo')
						.slider-partner__item
							a(href="#").slider-partner__link
								+svg-icon('logo')
						.slider-partner__item
							a(href="#").slider-partner__link
								+svg-icon('logo')
						.slider-partner__item
							a(href="#").slider-partner__link
								+svg-icon('logo')
						.slider-partner__item
							a(href="#").slider-partner__link
								+svg-icon('logo')
						.slider-partner__item
							a(href="#").slider-partner__link
								+svg-icon('logo')
						.slider-partner__item
							a(href="#").slider-partner__link
								+svg-icon('logo')

			

	.footer__downline
		.container
			.footer__container
				.footer__row.row
					.footer__item.col-md-4
						p Карта сайта | Контакты | Карьера
						p.cl-grey © 2012 - 2017 ООО «МБ Инжиниринг Групп». Все права защищены

					.footer__item.col-md-5
						address.address
							.address__text
								span.cl-grey E-mail: 
								span info@mbeg.ru
							.address__text
								span.cl-grey Телефон:  
								span +7 (812) 937 59 77
							.address__text
								span.cl-grey Главный офис: 
								span г.Санкт-Петербург, ул.Якорная, д.13, литер А, офис 311. 

					.footer__item.col-md-3
						.share.text-md-right
							a(href="").share__link
								+svg-icon('upline__e-mail')
							a(href="").share__link
								+svg-icon('upline__e-mail')
							a(href="").share__link
								+svg-icon('upline__e-mail')
							a(href="").share__link
								+svg-icon('upline__e-mail')
							a(href="").share__link
								+svg-icon('upline__e-mail')

				.row
					.footer__item.col-xs-12
						p.cl-grey
							|Все права на информацию и материалы (включая изображения и товарные знаки) охраняются законом и принадлежат ООО «МБ Инжиниринг Групп». Не допускается полное или частичное копирование и использование информации и материалов, размещенных на сайте www.mbeg.com, без письменного разрешения правообладателя.