header.header
	.upline
		.container
			.row
				.upline__item.col-sm-6.col-md-4.col-lg-3
					.upline__content
						+svg-icon('upline__phone')
						h6.upline__text +7 (812) 937 59 77
				.upline__item.col-sm-6.col-md-4.col-lg-3
					.upline__content
						+svg-icon('upline__e-mail')
						h6.upline__text info@mbeg.ru

				.upline__item.col-sm-12.col-md-4.col-lg-6
					.social.text-xs-center.text-md-right
						a(href="#").social__link
							+svg-icon('social__vk')
						a(href="#").social__link
							+svg-icon('social__facebook')

	.header__container
		.slider-bg
			.slider-bg__item
				img.slider-bg__img(src="img/1.jpg" alt="")
			.slider-bg__item
				img.slider-bg__img(src="img/2.jpg" alt="")
			.slider-bg__item
				img.slider-bg__img(src="img/3.jpg" alt="")

		.header__line.container
			.row
				.hidden-sm-down.col-lg-4.col-xl-5
					.logo
						+svg-icon('logo')
				.col-sm-12.col-lg-8.col-xl-7
					nav.header-nav
						include ../../blocks/navbar/navbar_2/navbar_2

			.row
				.slider-main
					.slider-main__item
						p.slider-main__text Test 1
						img.slider-main__img(src="img/1.jpg" alt="")
					.slider-main__item
						img.slider-main__img(src="img/2.jpg" alt="")
					.slider-main__item
						img.slider-main__img(src="img/3.jpg" alt="")