header.header
	.upline
		.container
			.upline-logo.row.hidden-md-up
				.logo.col-sm-12
					.logo__img
						+svg-icon('logo')
					.logo-desc
						h6.logo-desc__text Создание проектной документации
						h6.logo-desc__text Строительно-монтажные работы
						h6.logo-desc__text Продажа светодиодного и климатического оборудования
			.row
				.upline__item.col-xs-8.col-sm-6.col-md-4.col-lg-3
					.upline__content
						+svg-icon('upline__phone')
						h6.upline__text.text_main-color +7 (812) 937 59 77

				.upline__item.col-xs-4.col-sm-6.col-md-4.push-md-4.push-lg-5
					.social.text-xs-right
						a(href="#").social__link
							+svg-icon('upline__e-mail')
						a(href="#").social__link
							+svg-icon('upline__e-mail')

				.upline__item.col-md-4.pull-md-4.pull-md-4
					.upline__content
						+svg-icon('upline__e-mail')
						h6.upline__text.text_main-color info@mbeg.ru

	.header__container
		.slider-bg.hidden-sm-down
			.slider-bg__item
				img.slider-bg__img(src="img/1.jpg" alt="")
			.slider-bg__item
				img.slider-bg__img(src="img/2.jpg" alt="")
			.slider-bg__item
				img.slider-bg__img(src="img/3.jpg" alt="")

		.header__line.container
			.nav-wrap.row
				.header-logo.hidden-sm-down.col-lg-4.col-xl-5
					.logo
						.logo__img
							+svg-icon('logo')
						.logo-desc.hidden-lg-down
							h6.logo-desc__text Создание проектной документации
							h6.logo-desc__text Строительно-монтажные работы
							h6.logo-desc__text Продажа светодиодного и климатического оборудования
				nav.header-nav.col-sm-12.col-lg-8.col-xl-7
					include ../../blocks/navbar/navbar_2/navbar_2

			.row
				.slider-main
					.slider-main__item
						p.slider-main__text Test 1
						img.slider-main__img(src="img/1.jpg" alt="")
					.slider-main__item
						img.slider-main__img(src="img/2.jpg" alt="")
					.slider-main__item
						img.slider-main__img(src="img/3.jpg" alt="")