/* Custom Reset */
html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

* {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
	&::before {
		-webkit-box-sizing: inherit;
		box-sizing: inherit;
  }
	&::after {
		-webkit-box-sizing: inherit;
		box-sizing: inherit;
  }
  outline: none;
}